/* MenuBar.css */

.btn {
    position: relative;
    z-index: 1;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    top: -5px; /* Adjust the top value to make it slightly bigger */
    left: -5px; /* Adjust the left value to make it slightly bigger */
    right: -5px; /* Adjust the right value to make it slightly bigger */
    bottom: -5px; /* Adjust the bottom value to make it slightly bigger */
    background-color: #d1d1d1; /* Change this color to your desired hover effect color */
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }
  
  .btn:hover::before {
    opacity: 0.3; /* Adjust the opacity level as needed */
  }
  
  /* MenuBar.css */

  .exit-btn:hover::before {
    background-color: red; /* Change this color to your desired hover effect color */
    opacity: 0.5; /* Adjust the opacity level for the exit button on hover */
  }
  