@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Add this to your CSS file or style tag in React component */
.rounded {
  border-radius: 10px; /* Adjust the value as needed */
}
/* Add this to your stylesheet or in a style tag within the component */
.bg-Menu-panel{
  background-color: #201e1e; /* Use your desired color code for the left panel */
  border: 1px solid #555; /* Use a lighter color code for the border */
  user-select: none;
}

.bg-left-panel {
  background-color: #272424; /* Use your desired color code for the left panel */
  border: 1px solid #555; /* Use a lighter color code for the border */
  user-select: none;
}

.bg-right-panel {
  background-color: #272424; /* Use your desired color code for the right panel */
  border: 1px solid #555; /* Use a lighter color code for the border */
  user-select: none;
}

